Sharepoint files convert to pdf/Microsoft.Flow/flows/1206b470-cc53-4ce0-82b0-26c6d30309f0/definition.json
{
  "name": "31d010cf-0dc6-41a4-89c3-b3bb0de9db62",
  "id": "/providers/Microsoft.Flow/flows/31d010cf-0dc6-41a4-89c3-b3bb0de9db62",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Template-SharePoint file to convert to pdf and email",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "creator": {
          "id": "db449177-f374-4053-a102-db8f8595ce10",
          "type": "User",
          "tenantId": "37e631cc-1e23-49fc-9c74-f226cd0145fe"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2020-05-21T20:53:19.487778Z"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {
          },
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {
          },
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "FolderPath",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Enter Folder server relative url",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "Email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your Email Address",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Apply_to_each": {
          "foreach": "@variables('fileObject')",
          "actions": {
            "Append_to_array_variable": {
              "runAfter": {
                "Render_Data": [
                  "Succeeded"
                ]
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "fileProperties",
                "value": {
                  "DocumentID": "@first(body('Render_Data')?['ListData']?['Row'])?['ID']",
                  "FileName": "@first(body('Render_Data')?['ListData']?['Row'])?['FileLeafRef.Name']",
                  "FileNamewithExtention": "@first(body('Render_Data')?['ListData']?['Row'])?['FileLeafRef']",
                  "ServerRelativeUrl": "@items('Apply_to_each')['ServerRelativeUrl']",
                  "FullServerRelativeUrl": "@first(body('Render_Data')?['ListData']?['Row'])?['FileRef']",
                  "FileType": "@first(body('Render_Data')?['ListData']?['Row'])?['File_x0020_Type']",
                  "PdfUrl": "@concat(body('Render_Data')?['ListSchema']?['.mediaBaseUrl'],'/transform/pdf?provider=spo&inputFormat=',first(body('Render_Data')?['ListData']?['Row'])?['File_x0020_Type'],'&cs=',body('Render_Data')?['ListSchema']?['.callerStack'],'&docid=',first(body('Render_Data')?['ListData']?['Row'])?['.spItemUrl'],'&',body('Render_Data')?['ListSchema']?['.driveAccessToken'])"
                }
              }
            },
            "Render_Data": {
              "runAfter": {
                "Get_file_metadata_using_path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "flowSystemMetadata": {
                  "swaggerOperationId": "HttpRequest"
                }
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"
                  },
                  "api": {
                    "runtimeUrl": "https://unitedstates-002.azure-apim.net/apim/sharepointonline"
                  }
                },
                "method": "post",
                "body": {
                  "method": "POST",
                  "uri": "_api/web/lists/GetbyTitle('@{variables('LibraryName')}')/RenderListDataAsStream?FilterField1=ID&FilterValue1=@{body('Get_file_metadata_using_path')?['ItemId']}",
                  "body": "{ \n    \"parameters\": {\n       \"RenderOptions\" : 4103,\n       \"FolderServerRelativeUrl\" : \"@{item()['FolderUrl']}\"\n    }\n}"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(variables('siteUrl')))}/httprequest",
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_file_metadata_using_path": {
              "runAfter": {
              },
              "metadata": {
                "flowSystemMetadata": {
                  "swaggerOperationId": "GetFileMetadataByPath"
                }
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"
                  },
                  "api": {
                    "runtimeUrl": "https://unitedstates-002.azure-apim.net/apim/sharepointonline"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(variables('siteUrl')))}/GetFileByPath",
                "queries": {
                  "path": "@{item()['ServerRelativeUrl']}",
                  "queryParametersSingleEncoded": true
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable_": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_Empty_Array": {
          "runAfter": {
            "Initialize_constant_converted_file_types": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileObject",
                "type": "Array"
              }
            ]
          }
        },
        "Initialize_constant_converted_file_types": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "convertedFileTypes",
                "type": "Array",
                "value": [
                  "doc",
                  "docx",
                  "xlsx",
                  "xls",
                  "ppt",
                  "pptx",
                  "html"
                ]
              }
            ]
          }
        },
        "Get_folders_and_files": {
          "runAfter": {
            "Initialize_FolderServerRelativeURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "HttpRequest"
            }
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"
              },
              "api": {
                "runtimeUrl": "https://unitedstates-002.azure-apim.net/apim/sharepointonline"
              }
            },
            "method": "post",
            "body": {
              "method": "GET",
              "uri": "_api/web/getfolderbyserverrelativeurl('@{variables('FolderServerRelativeURL')}')?$expand=folders,files,folders/Files"
            },
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(variables('siteUrl')))}/httprequest",
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Select_Folders": {
          "runAfter": {
            "Get_folders_and_files": [
              "Succeeded"
            ]
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Get_folders_and_files')?['d']?['Folders']?['results']",
            "select": {
              "ServerRelativeUrl": "@item()['ServerRelativeUrl']",
              "Files": "@item()?['Files']?['results']"
            }
          }
        },
        "Apply_to_each_Folders": {
          "foreach": "@body('Select_Folders')",
          "actions": {
            "Select": {
              "runAfter": {
              },
              "type": "Select",
              "inputs": {
                "from": "@item()?['Files']",
                "select": {
                  "Name": "@item()['Name']",
                  "ServerRelativeUrl": "@substring(item()['ServerRelativeUrl'], length(variables('webUrl')),sub(length(item()['ServerRelativeUrl']),length(variables('webUrl'))))",
                  "FullServerRelativeUrl": "@item()?['ServerRelativeUrl']",
                  "FolderUrl": "@items('Apply_to_each_Folders')?['ServerRelativeUrl']"
                }
              },
              "description": "substring(item()['ServerRelativeUrl'], length(variables('webUrl')),sub(length(item()['ServerRelativeUrl']),length(variables('webUrl'))))"
            },
            "Union_of_2_Arrays": {
              "runAfter": {
                "Select": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@union(body('Select'),variables('fileObject'))"
            },
            "Set_array_fileObject": {
              "runAfter": {
                "Union_of_2_Arrays": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "fileObject",
                "value": "@outputs('Union_of_2_Arrays')"
              }
            }
          },
          "runAfter": {
            "Select_Folders": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_variable_": {
          "runAfter": {
            "Apply_to_each_Folders": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileProperties",
                "type": "Array"
              }
            ]
          }
        },
        "Initialize_constant_Site_Url": {
          "runAfter": {
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "siteUrl",
                "type": "String",
                "value": "https://contoso.sharepoint.com/sites/sitecollection"
              }
            ]
          }
        },
        "Initialize_FolderServerRelativeURL": {
          "runAfter": {
            "Initialize_Empty_Array": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FolderServerRelativeURL",
                "type": "String",
                "value": "@triggerBody()['text']"
              }
            ]
          }
        },
        "HTTP": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "@{first(variables('fileProperties'))?['PdfUrl']}"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "SendEmailV2"
            }
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"
              },
              "api": {
                "runtimeUrl": "https://unitedstates-002.azure-apim.net/apim/office365"
              }
            },
            "method": "post",
            "body": {
              "To": "@triggerBody()['text_1']",
              "Subject": "Look at PDF file Attachement",
              "Body": "<p>Generated PDF file</p>",
              "Attachments": [
                {
                  "Name": "@{concat(first(variables('fileProperties'))?['FileName'],'.pdf')}",
                  "ContentBytes": "@{base64(body('HTTP'))}"
                }
              ]
            },
            "path": "/v2/Mail",
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_site_server_relative_url": {
          "runAfter": {
            "Initialize_constant_Site_Url": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "webUrl",
                "type": "String",
                "value": "/sites/sitecollection"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_site_server_relative_url": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LibraryName",
                "type": "string",
                "value": "<Enter Library Title>"
              }
            ]
          }
        }
      }
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-468b78cb-80ef-4ae1-89c0-91b6ccf94116",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified"
      },
      "shared_office365": {
        "connectionName": "b156ed99cce4415c966d5b4e826513d3",
        "source": "Invoker",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified"
      }
    },
    "flowFailureAlertSubscribed": false
  }
}
