Sharepoint files convert to pdf/Microsoft.Flow/flows/2e8597a9-54b6-47bb-ae79-a4eb83c9a164/definition.json
{"name":"79b44893-1728-41df-b6a6-ced10d5eaae7","id":"/providers/Microsoft.Flow/flows/79b44893-1728-41df-b6a6-ced10d5eaae7","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Template-SharePoint file to convert to pdf and email","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"db449177-f374-4053-a102-db8f8595ce10","type":"User","tenantId":"37e631cc-1e23-49fc-9c74-f226cd0145fe"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-06-25T17:21:30.616341Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"SiteUrl":{"type":"string"},"LibraryTitle":{"type":"string"},"DocumentID":{"type":"integer"},"Email":{"type":"string"}}},"method":"POST"}}},"actions":{"Initialize_variable_":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"PdfUrl","type":"string"}]}},"Get_File":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"GET","uri":"_api/web/lists/GetbyTitle('@{triggerBody()?['LibraryTitle']}')/Items(@{triggerBody()?['DocumentID']})?$Select=FileLeafRef,FileRef,File_x0020_Type","headers":{"Content-type":"application/json;odata=verbose","accept":"application/json;odata=verbose"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(triggerBody()?['SiteUrl']))}/httprequest","authentication":"@parameters('$authentication')"}},"Get_Folder_Url_where_file_exist":{"runAfter":{"Get_File":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PdfUrl","value":"@{replace(body('get_file')?['d']?['FileRef'],concat('/',body('get_file')?['d']?['FileLeafRef']),'')}"}},"Condition":{"actions":{"Render_Data":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/GetbyTitle('@{triggerBody()?['LibraryTitle']}')/RenderListDataAsStream?FilterField1=ID&FilterValue1=@{triggerBody()?['DocumentID']}","body":"{ \n    \"parameters\": {\n       \"RenderOptions\" : 4103,\n       \"FolderServerRelativeUrl\" : \"@{variables('PdfUrl')}\"\n    }\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(triggerBody()?['SiteUrl']))}/httprequest","authentication":"@parameters('$authentication')"}},"Generating_Pdf_file_Url":{"runAfter":{"Render_Data":["Succeeded"]},"type":"SetVariable","inputs":{"name":"PdfUrl","value":"@{concat(body('Render_Data')?['ListSchema']?['.mediaBaseUrl'],'/transform/pdf?provider=spo&inputFormat=',first(body('Render_Data')?['ListData']?['Row'])?['File_x0020_Type'],'&cs=',body('Render_Data')?['ListSchema']?['.callerStack'],'&docid=',first(body('Render_Data')?['ListData']?['Row'])?['.spItemUrl'],'&',body('Render_Data')?['ListSchema']?['.driveAccessToken'])}"}},"HTTP":{"runAfter":{"Generating_Pdf_file_Url":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@variables('PdfUrl')"}},"Send_an_email_(V2)":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@triggerBody()?['Email']","Subject":"Converted file","Body":"<p>Please look at the converted file in attachment</p>","Attachments":[{"Name":"@{replace(body('get_file')?['d']?['FileLeafRef'],concat('.',body('get_file')?['d']?['File_x0020_Type']),'.pdf')}","ContentBytes":"@{base64(body('HTTP'))}"}]},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Folder_Url_where_file_exist":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@triggerBody()?['Email']","Subject":"Invalid file","Body":"<p>The file is not supported for convertion</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('SupportFileTypes')","@ body('get_file')?['d']?['File_x0020_Type']"]},"type":"If"},"Initialize_variable":{"runAfter":{"Initialize_variable_":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SupportFileTypes","type":"array","value":["doc","docx","xlsx","xls","ppt","pptx","html"]}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-468b78cb-80ef-4ae1-89c0-91b6ccf94116","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"b156ed99cce4415c966d5b4e826513d3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}